<!DOCTYPE html>
<html lang="en" ng-app="game">
<head>
    <meta charset="UTF-8" />
	
	<!-- This ensures the canvas works on IE9+.  Don't remove it! -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>Space War</title>
	<!-- Note: running this exported project from disk may not work exactly like preview, since browsers block some features on the file:// protocol.  Once you've uploaded it to a server, it should work OK. -->
	
    <!-- This outlines the canvas with a black border and makes the page background black. -->
	<style type="text/css">
		body { background-color: black; color: white; }
		canvas { -ms-touch-action: none; }
	</style>
    <link rel="stylesheet" type="text/css" href="style.css">

</head> 
 
<body> 
	<div id="fb-root"></div>
	<div style="text-align: center;" ng-controller="GameCtrl">

	<script>
	// Issue a warning if trying to preview an exported project on disk.
	(function(){
		// Check for running exported on file protocol
		if (window.location.protocol.substr(0, 4) === "file")
		{
			alert("Exported games won't work until you upload them. (When running on the file:/// protocol, browsers block many features from working for security reasons.)");
		}
	})();
	</script>

		<!-- The canvas must be inside a div called c2canvasdiv -->
		<div id="c2canvasdiv" style="width: 1024px; height: 600px;">
		
			<!-- The canvas the project will render to.  If you change its ID, don't forget to change the
			ID the runtime looks for in the jQuery ready event (above). -->
			<canvas id="c2canvas" width="1024" height="600">
				<!-- This text is displayed if the visitor's browser does not support HTML5.
				You can change it, but it is a good idea to link to a description of a browser
				and provide some links to download some popular HTML5-compatible browsers. -->
				Your browser does not appear to support HTML5.  Try upgrading your browser to the latest version.  <a href="http://www.whatbrowser.org">What is a browser?</a>
				<br/><br/><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Microsoft Internet Explorer</a><br/>
				<a href="http://www.mozilla.com/firefox/">Mozilla Firefox</a><br/>
				<a href="http://www.google.com/chrome/">Google Chrome</a><br/>
				<a href="http://www.apple.com/safari/download/">Apple Safari</a><br/>
				<a href="http://www.google.com/chromeframe">Google Chrome Frame for Internet Explorer</a><br/>
			</canvas>
			<div id="live">{{player.live}}%</div>
            <div id="enemy-live">{{enemy.live}}%</div>

            <!--<div id="live2" >-->
                <!--<div ng-repeat="x in liveBar">-->

                <!--</div>-->
            <!--</div>-->
            <div id="live3">

            </div>

            <div id="oxygen-bar"></div>
            <div id="oxygen">{{player.blocks[BLOCK_OXYGEN].oxygen}}%</div>



            <div id="armament-energy-info">
                {{player.blocks[BLOCK_ARMAMENT].energy}}
            </div>
            <button id="armament-btn" class="btn" ng-click="changeEnergy2(BLOCK_ARMAMENT)"></button>

            <div id="shield-energy-info">
                {{player.blocks[BLOCK_SHIELD].energy}}
            </div>
            <button id="shield-btn" class="btn" ng-click="changeEnergy2(BLOCK_SHIELD)"></button>

            <div id="oxygen-energy-info">
                {{player.blocks[BLOCK_OXYGEN].energy}}
            </div>
            <button id="oxygen-btn" class="btn" ng-click="changeEnergy2(BLOCK_OXYGEN)"></button>

            <div id="attack-block">
                <button ng-click="fire()" ng-hide="player.blocks[BLOCK_ARMAMENT].reloadPersent < 100">Атаковать</button>
                <br>
                {{player.blocks[BLOCK_ARMAMENT].reloadPersent}}
            </div>

		</div>
	</div>
	
	<!-- Pages load faster with scripts at the bottom -->
	
	<!-- Construct 2 exported games require jQuery. -->
	<script src="jquery-2.0.0.min.js"></script>


	
    <!-- The runtime script.  You can rename it, but don't forget to rename the reference here as well.
    This file will have been minified and obfuscated if you enabled "Minify script" during export. -->
	<script src="c2runtime.js"></script>

    <script>
		// Size the canvas to fill the browser viewport.
		jQuery(window).resize(function() {
			cr_sizeCanvas(jQuery(window).width(), jQuery(window).height());
		});
		
		// Start the Construct 2 project running on window load.
		jQuery(document).ready(function ()
		{
			// Create new runtime using the c2canvas
			cr_createRuntime("c2canvas");
		});
		
		// Pause and resume on page becoming visible/invisible
		function onVisibilityChanged() {
			if (document.hidden || document.mozHidden || document.webkitHidden || document.msHidden)
				cr_setSuspended(true);
			else
				cr_setSuspended(false);
		};
		
		document.addEventListener("visibilitychange", onVisibilityChanged, false);
		document.addEventListener("mozvisibilitychange", onVisibilityChanged, false);
		document.addEventListener("webkitvisibilitychange", onVisibilityChanged, false);
		document.addEventListener("msvisibilitychange", onVisibilityChanged, false);
    </script>

    <script src="angular/angular.min.js"></script>
    <script src="core.js"></script>
</body> 
</html> 