<!doctype html>
<html  lang="en" ng-app="game">
<head>
    <title></title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->
    <script src="angular/angular.min.js"></script>
    <script src="core.js"></script>
</head>
<body>
    <div ng-controller="GameCtrl" style="width: 100%">
        <div style="float: left; width: 40%;">
            <div>
                Жизни: {{player.live}}
            </div>
            <div>
                Кислород(
                {{player.blocks[BLOCK_OXYGEN].energy}} <button ng-click="changeEnergy(BLOCK_OXYGEN, 1)">+</button>
                <button ng-click="changeEnergy(BLOCK_OXYGEN, -1)">-</button>): {{player.blocks[BLOCK_OXYGEN].oxygen}}
            </div>
            <div>
                Вооружение({{player.blocks[BLOCK_ARMAMENT].energy}} <button ng-click="changeEnergy(BLOCK_ARMAMENT, 1)">+</button>
                <button ng-click="changeEnergy(BLOCK_ARMAMENT, -1)">-</button>):

                <button ng-click="fire()">Выстрелить</button>
                Процент заряда: {{player.blocks[BLOCK_ARMAMENT].reloadPersent}}
            </div>

            <div>
                Защита: {{player.blocks[BLOCK_SHIELD].energy}}
                <button ng-click="changeEnergy(BLOCK_SHIELD, 1)">+</button>
                <button ng-click="changeEnergy(BLOCK_SHIELD, -1)">-</button>
            </div>
        </div>

        <div style="float: right; width: 40%">
            <div>
                Жизни: {{enemy.live}}
            </div>
            <div>
                <b>Вооружение:</b> Энергия: {{enemy.blocks[BLOCK_ARMAMENT].energy}}
                Процент заряда: {{enemy.blocks[BLOCK_ARMAMENT].reloadPersent}}
            </div>

            <div>
                Защита: {{enemy.blocks[BLOCK_SHIELD].energy}}
            </div>
        </div>

    </div>
</body>
</html>